.input {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding: 15px 40px;
  font-size: 1.2em;
}
