.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #101419;
}

.logo {
  margin-left: 60px;
}

.NavLinks,
.rightNavLinks {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  float: left;
  margin-left: 100px;

  @media (max-width: 600px) {
    margin-left: 40px;
  }

  @media (max-width: 320px) {
    margin-left: 20px;
  }
}

.rightNavLinks {
  float: right;
  margin-left: 0px;
  margin-right: 40px;
}

.navLink {
  position: relative;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  display: block;
  @media (max-width: 600px) {
    flex-basis: 100%;
  }
}

.navLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.navLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.user {
  position: relative;
  margin: 0;
  margin-top: 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  display: block;
}

.activeNavLink {
  color: rgb(145, 205, 255);
}

.profileDropdown {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  margin: 0px 20px;
  cursor: pointer;
}

.relat {
  position: relative;
}

.notif {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute;
  top: 0;
  right: 0;
}
